:root {
  --primary-color: rgb(226, 223, 209);
  --secondary-color: black;
  --terciary-color: white;
  --cuaternary-color: #a3c625;
  --quinary-color: #f8f4eb;
  --senary-color: #696762;
  --septenary-color: #b4b0a6;
  --octonary-color: rgb(37, 37, 34);
}

@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: Partitura1941;
  src: url(../fonts/tipografia/Partitura41.otf);
}

@font-face {
  font-family: kallaikosrevve;
  src: url(../fonts/tipografia/Kallaikosrevve.ttf);
}

@font-face {
  font-family: IdoiaBD;
  src: url(../fonts/tipografia/IdoiaBD.ttf);
}

html {
  font-family: "Quattrocento Sans", sans-serif;
  color: var(--secondary-color);
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: block;
}

h1 {
  font-size: 2em;
  font-weight: 800;
  color: rgb(150, 144, 126);
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2em;
  font-weight: 500;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  color: rgb(92, 88, 76);
  text-align: left;
}

a {
  text-decoration: none;
}

li {
  font-size: 1.4em;
  font-weight: 100;
  text-transform: none;
  text-align: left;
  line-height: 120%;
}

li a {
  color: var(--terciary-color);
}

li a.active {
  color: var(--septenary-color);
}

li a:hover {
  color: var(--cuaternary-color);
}

/* header */
nav ul {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  column-gap: 30px;
  padding: 0px 20px;
}

nav li {
  height: auto;
}

nav ul li a {
  text-transform: uppercase;
  font-size: 26px;
}

nav h1 li a {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.nav-izda {
  display: flex;
  order: 1;
}
.nav-dcha {
  display: flex;
  order: 3;
}
.simboloido {
  padding: 10px;
  height: 80px;
  text-align: center;
  display: flex;
  order: 2;
  column-gap: 20px;
}

header {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  /*  background-color: rgba(37, 37, 34, 0.85);*/
  background-color: rgba(29, 29, 27, 0.85);
  top: 0;
  border-radius: 0% 0% 40% 40%;
  box-shadow: 0.35em 0.35em 1em var(--senary-color);
  z-index: 999;
}

.header-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  row-gap: 60px;
  min-height: 60px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 26px;
}

/* main */
main p {
  font-size: 1.4rem;
  text-align: justify;
  padding: 8px 20px 0 20px;
  max-width: 1000px;
  display: flex;
}

#fotoportada {
  background-color: var(--quinary-color);
  background-image: url(../img/servizos.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: top;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  border: none;
  height: 300px;
  overflow: hidden;
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -webkit-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -moz-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
}

.services {
  max-width: 1400px;
  margin: 0 auto;
}

.services h1 {
  text-align: center;
}
.services h2 {
  font-size: 1.1em;
  margin: auto;
}

.services ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding: 25px 5px 50px 5px;
  text-align: center;
  background-color: rgb(92, 88, 76);
  width: 80%;
  height: 30%;
  margin: 0 auto;
  box-shadow: 0.35em 0.35em 1em rgb(105, 103, 98);
}

.services ul li {
  margin: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0.25em 0.25em 1em rgb(54, 53, 50);
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-flow: row wrap;
  align-content: center;
}

.servizosimgs {
  width: auto;
  height: 120px;
  margin: 0 auto;
  display: flex;
  align-self: flex-end;
  padding-bottom: 6px;
}

.servizosimgilustracion {
  width: auto;
  height: 140px;
  margin: 0 auto;
  display: flex;
  align-self: flex-start;
  padding-bottom: 6px;
}
.creatividade {
  border-radius: 50%;
  background-color: var(--cuaternary-color);
  height: 220px;
  width: 220px;
}

.grafico {
  height: 220px;
  width: 220px;
  background-color: rgb(214, 149, 214);
  -moz-border-radius: 50% 0 50% 0;
  -webkit-border-radius: 50% 0 50% 0;
  border-radius: 50% 0 50% 0;
}

.ilustracion {
  background-color: rgb(51, 172, 172);
  height: 220px;
  width: 220px;
}

#targets {
  margin: 0 auto;
  width: 80%;
}

.destinatarios {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.destinatarios div {
  display: inline-flex;
  background-color: var(--quinary-color);
  width: 192px;
  height: 182px;
  padding: 20px 20px 30px 20px;
  text-align: left;
  color: rgb(54, 53, 50);
  font-weight: 100;
  margin-top: -20px;
  gap: 5px;
  border: 3px solid rgb(92, 88, 76);
  border-radius: 0% 20% 20% 10%;
  -moz-border-radius: 0% 20% 20% 10%;
  -webkit-border-radius: 0% 20% 20% 10%;
  box-shadow: 0.35em 0.35em 1em rgb(105, 103, 98);
}
/* main galerias */
.slider-container {
  background-color: var(--cuaternary-color);
  border: solid 2px red;
  margin-top: 100px;
  display: flex;
}

.slider-container .slider-nav {
  border: 1px solid black;
  background-color: #a3c625;
}
.slider-container .slider-for {
  border: 1px solid blue;
}
.slick-track {
  display: flex;
  flex-direction: column;
}
/*
.carrousel-container {
  margin-top: 140px;
}*/

/* tipografia */
.tipografia {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0 40px;
}
.fonte1 {
  font-family: Partitura1941;
  font-size: 3.6rem;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  word-break: break-word;
}

.fonte2 {
  font-family: kallaikosrevve;
  font-size: 3.2rem;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  word-break: break-word;
}

#mockpartitura {
  width: 100%;
  margin: 0 auto;
}

.mockupsfontes {
  width: 100%;
  display: block;
}

.services .h2partitura {
  font-family: Partitura1941;
  font-size: 2.5rem;
  padding: 40px 0;
  width: 100%;
}

.services .h2kallaikos {
  font-family: kallaikosrevve;
  font-size: 2.5rem;
  padding: 60px 0 20px 0;
  width: 100%;
}

.h2idoiabd {
  font-family: IdoiaBD;
  font-size: 1.2em;
}

#portadatipo {
  background-image: url(../img/tipografia/tipografia.jpg);
  background-repeat: no-repeat;
  height: 150px;
  margin: 0;
  background-size: cover;
  background-position: top;
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -webkit-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -moz-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
}

#vistatipo-kallaikos,
#vistatipo {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 250px;
  padding: 40px;
  font-size: 2rem;
  color: black;
  border: none;
  margin-top: 20px;
  text-align: left;
  box-sizing: border-box;
}

#vistatipo.partitura {
  font-family: Partitura1941;
}

#vistatipo-kallaikos.kallaikosrevve {
  font-family: kallaikosrevve;
}

#vistatipo.idoiabd {
  font-family: IdoiaBD;
}

select {
  border: 1px solid var(--septenary-color);
  font-size: 1.3rem;
  padding: 4px;
  margin-left: 10px;
}

label {
  font-size: 1.4rem;
  font-weight: 300;
  cursor: default;
  display: inline-flex;
}

input.buttonrangesize {
  background: var(--secondary-color);
  width: 100px;
  height: 20px;
  margin: 10px 10px 0;
  vertical-align: bottom;
  box-shadow: 0.35em 0.35em 1em rgb(156, 153, 146);
}

.wrapper {
  width: 20vmin;
}

input {
  width: 100%;
  --litters-range: 75%;
  appearance: none;
  outline: none;
  height: 1vmin;
  border-radius: 0.5vmin;
  background: linear-gradient(
    to right,
    white var(--litters-range),
    rgba(87, 87, 87, 0.96) var(--litters-range)
  );
}

input::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  width: 2vmin;
  height: 2vmin;
  background: var(--terciary-color);
  border-radius: 50%;
}

.input[type="range" i] {
  appearance: auto;
  cursor: default;
  color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
  padding: initial;
  border: initial;
  margin: 2px;
}

.botonestipo {
  display: inline-block;
  border: none;
  background: var(--quinary-color);
  box-shadow: 0.25em 0.25em 0.6em rgb(156, 153, 146);
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  width: auto;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.botonestipo:hover {
  background: var(--cuaternary-color);
}

.botonestipo:active {
  transform: translateY(4px);
  background: var(--septenary-color);
}

.size {
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
}

#especimen {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.definicionstipos {
  display: inline-flex;
  margin: 0 auto;
  padding: 40px 0 0 0;
}

.presentacionfont {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 40px;
}

.imaxefonte1txt {
  width: 100%;
  height: 100%;
  padding: 0;
  box-shadow: 0.25em 0.25em 0.6em rgb(156, 153, 146);
}

.cascada {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

/* fin apartado tipografia */

/* ilustracion, edición, etiquetado */
.carrousel-container {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  margin-top: 140px;
  overflow: hidden;
  background-color: #a3c625;
}

.carousel2 {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  margin-left: 20px;
  width: 30%;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--secondary-color);
}

.carousel2 a:hover {
  color: var(--cuaternary-color);
}

.carousel2 a:active {
  color: var(--senary-color);
}

.carousel1 {
  width: 70%;
  height: auto;
}

/* metodos dubidas */

p.metodos {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
}

summary {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

#portadafaq {
  background-color: var(--quinary-color);
  background-image: url(../img/portadametodos.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: top;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  border: none;
  height: 200px;
  overflow: hidden;
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -webkit-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -moz-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
}

/*pegado dos meus estilos previos para bios footer */
/*footer*/

footer {
  background-color: var(--terciary-color);
  width: 100%;
  margin: 0 auto;
  top: 40px;
  display: block;
  text-align: center;
  background-size: contain;
  position: relative;
  bottom: 0;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 50%);
}
footer ul {
  padding-left: 0;
}

footer ul li a {
  font-family: "Quattrocento Sans";
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  list-style: none;
  color: var(--secondary-color);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer ul li a:hover {
  color: var(--cuaternary-color);
}

*,
::after,
::before {
  box-sizing: border-box;
}

.footer-como ul {
  font-family: "PT sans";
  font-size: 1em;
  font-weight: 800;
  list-style: none;
  color: var(--secondary-color);
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  padding-bottom: 0%;
  text-decoration: none;
  color: var(--secondary-color);
}
.footer-como li {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px 20px 0px 20px;
  align-items: center;
  color: var(--secondary-color);
}

.footer-como li a {
  display: inline-flex;
  color: var(--secondary-color);
}

.footer-menu li {
  display: inline-flex;
  padding: 0px 20px 0px 20px;
  align-items: center;
}
.footer-menu li a {
  font-family: "Quattrocento sans";
  font-size: 0.85em;
  color: var(--secondary-color);
  font-weight: 400;
  text-transform: initial;
  text-decoration: none;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-menu li {
  display: inline-flex;
  padding: 0px 20px 0px 20px;
  align-items: center;
}

#etica,
#metodos {
  scroll-margin-top: 150px;
}

/* seccion bios */

#bios {
  width: 100%;
  background-color: var(--cuaternary-color);
  margin: 0 auto;
  padding: 0px;
  height: auto;
  min-height: 100px;
  margin-top: 80px;
}

#bios a:hover {
  color: var(--senary-color);
}

.containercenter {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#biocontido {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

#biomarcofoto {
  display: inline-flex;
  flex-direction: row;
  width: 120px;
  height: 120px;
  text-align: center;
  margin-top: -110px;
  position: absolute;
}

.biofoto {
  display: inline-flex;
  flex-flow: row;
  width: inherit;
  box-shadow: 0.25em 0.25em 1em rgb(54, 53, 50);
  background-color: var(--cuaternary-color);
  border-radius: 50%;
  margin: 0 auto;
}

#biocvs {
  display: block;
  box-sizing: border-box;
  height: auto;
  text-align: right;
}

#biosleft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#biosright {
  display: flex;
  align-items: center;
}

#bionome {
  text-align: left;
  align-items: center;
  margin-left: 140px;
}

.cvs p,
.cvs a {
  font-family: Quattrocento Sans;
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0px 20px 0px 0px;
}

.nome {
  font-family: Quattrocento Sans;
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.2em;
  color: var(--terciary-color);
  text-decoration: none;
  margin: 20px 0 0 0;
  text-align: left;
}
.hashtag a {
  font-family: Quattrocento Sans;
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 1.2em;
  color: var(--terciary-color);
  text-decoration: none;
}
blockquote.lema {
  font-family: Quattrocento sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  font-style: italic;
  color: var(--terciary-color);
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 0 40px 0 0;
  margin: 0;
  vertical-align: middle;
}

/*cargar fontello*/
.socialmedia {
  font-family: Fontello;
  font-size: 1em;
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  text-align: left;
  justify-content: flex-end;
  vertical-align: middle;
}

.socialmedia li {
  align-self: center;
}

.icon-arteinformado,
.icon-myfonts {
  font-size: 1.3em;
}

.icon-ccgalega {
  font-size: 1.5em;
}

.icon-attach {
  font-size: 0.6em;
}

.footer-banner {
  max-width: 90%;
  height: auto;
}

@media (min-width: 768px) {
  #fotoportada {
    background-color: var(--quinary-color);
    background-image: url(../img/servizos768.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: top;
    width: 100%;
    margin: 0 auto;
    max-height: 120px;
    vertical-align: middle;
    border: none;
    height: 300px;
    overflow: hidden;
  }

  nav ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    column-gap: 22px;
    padding: 0px 10px;
  }

  .services .h2partitura {
    font-size: 4rem;
  }

  #portadatipo {
    background-attachment: fixed;
    background-size: 100%;
  }

  #mockpartitura {
    display: flex;
    width: 100%;
  }

  /*.mockupsfontes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
  }*/

  .mockupsfontes {
    max-width: calc(100% / 3);
    height: auto;
  }

  .presentacionfont {
    display: flex;
    gap: 40px;
  }

  .imaxefonte1txt {
    flex: 1;
    width: 100%;
    height: auto;
    max-width: calc(100% / 3);
    object-fit: cover;
  }

  .coltexto {
    flex: 2;
  }

  .definicionstipos {
    padding: 0;
  }

  .definicionstipos:not(:last-child) {
    padding: 0 0 20px 0;
  }
}

@media (min-width: 1440px) {
  #fotoportada {
    background-color: var(--quinary-color);
    background-image: url(../img/portada-media.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: top;
    min-width: 100%;
    margin: 0 auto;
    height: 150px;
    vertical-align: middle;
    border: none;
    height: 200px;
    overflow: hidden;
  }
}
